In [1]:
import pandas as pd
import numpy as np 
import requests
import cv2

In [2]:
#def download_image(url)

In [3]:
df = pd.read_csv("../Face/FEC_dataset/Faceexp_comparison_data_train_public.csv")

In [4]:
X = df.shape
print(X)

(449143, 38)

In [5]:
df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,29,30,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,http://farm5.staticflickr.com/4108/5185055338_...,0.142578,0.266602,0.065421,0.297508,http://farm3.staticflickr.com/2127/5765052001_...,0.439490,0.596178,0.289062,0.427734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://farm5.staticflickr.com/4108/5185055338_...,0.142578,0.266602,0.065421,0.297508,http://farm4.staticflickr.com/3543/3387356856_...,0.335938,0.441406,0.130307,0.311859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://farm5.staticflickr.com/4108/5185055338_...,0.142578,0.266602,0.065421,0.297508,http://farm4.staticflickr.com/3858/14540292875...,0.206442,0.524158,0.078125,0.325195,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://farm5.staticflickr.com/4108/5185055338_...,0.718750,0.826172,0.194704,0.394081,http://farm4.staticflickr.com/3875/14501588548...,0.318665,0.488619,0.162109,0.290039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://farm5.staticflickr.com/4108/5185055338_...,0.718750,0.826172,0.194704,0.394081,http://farm6.staticflickr.com/5143/5693754914_...,0.244141,0.380859,0.175000,0.413235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
column_url=[0,5,10]
for i in range(int(X[0]/5)):
    for j in column_url:
        try:
            url_link = df.iloc[i,j]
            name_img =  "../Face/imag_train/"+url_link.split("/")[-1]
            response = requests.get(url_link)
            file = open(name_img,"wb")
            file.write(response.content)
            file.close()
            response.raise_for_status()
            img = cv2.imread(name_img)
            img_shape = img.shape
            crop_img = img[ int( df.iloc[i, j + 3 ] * img_shape[0] ): int( df.iloc[ i, j + 4 ] * img_shape[0]),int( df.iloc[i, j + 1 ] * img_shape[1] ):int( df.iloc[ i, j + 2 ] * img_shape[1] )]
            save_img = cv2.resize(crop_img,(256,256))
            cv2.imwrite(name_img,save_img)
        except requests.exceptions.RequestException:
            continue

In [6]:
#lable 
image_0 = []
image_1 = []
image_2 = []
triplet_types = []
for i in range(int(X[0]/5)):
    image_0.append("../Face/imag_train/" + df.iloc[i,0].split('/')[-1])
    image_1.append("../Face/imag_train/"  + df.iloc[i,5].split('/')[-1]) 
    image_2.append("../Face/imag_train/"  + df.iloc[i,10].split('/')[-1]) 
    triplet_types.append(df.iloc[i,15])

In [7]:
# tao dataframe
label ={}
label["image_0"] = image_0
label["image_1"] = image_1
label["image_2"] = image_2
label["triplet_types"] = triplet_types
label_train = pd.DataFrame(label)
label_train.head()

,image_0,image_1,image_2,triplet_types
0,../Face/imag_train/5185055338_1dec873bf3_b.jpg,../Face/imag_train/5765052001_fa4c5fd8b0_b.jpg,../Face/imag_train/8914150145_b9b336331c_b.jpg,ONE_CLASS_TRIPLET
1,../Face/imag_train/5185055338_1dec873bf3_b.jpg,../Face/imag_train/3387356856_1c35c2efdf_b.jpg,../Face/imag_train/9280612097_0567a0de3f_b.jpg,TWO_CLASS_TRIPLET
2,../Face/imag_train/5185055338_1dec873bf3_b.jpg,../Face/imag_train/14540292875_ffb91ba2fb_b.jpg,../Face/imag_train/4747184973_2ffe91f793_b.jpg,ONE_CLASS_TRIPLET
3,../Face/imag_train/5185055338_1dec873bf3_b.jpg,../Face/imag_train/14501588548_9ab31946e1_b.jpg,../Face/imag_train/241047479_eb0ea515f8_z.jpg,TWO_CLASS_TRIPLET
4,../Face/imag_train/5185055338_1dec873bf3_b.jpg,../Face/imag_train/5693754914_661a07e85b_b.jpg,../Face/imag_train/12590745114_cd07a26439_b.jpg,ONE_CLASS_TRIPLET

In [8]:
# save lable_train
label_train.to_csv("../Face/label_train.csv")